# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# pyenv
.python-version

# Environment variables
.env

# IDE
.vscode/
.idea/
.github/

# OS
.DS_Store
Thumbs.db

# Credentials
credentials.json
token.json

# Test scripts

list_model.py
.vercel
